apiVersion: kubeadm.k8s.io/v1beta2
kind: InitConfiguration
nodeRegistration:
  kubeletExtraArgs:
    cgroup-driver: "systemd"
    cpu-cfs-quota: "false"
    fail-swap-on: "false"
    feature-gates: IPv6DualStack=true
---
apiVersion: kubeadm.k8s.io/v1beta2
kind: ClusterConfiguration
kubernetesVersion: stable
apiServer:
  extraArgs:
    oidc-issuer-url: https://keycloak.sfxworks.net/auth/realms/mcsh
    oidc-client-id: account
    oidc-username-claim: email
    service-node-port-range: 25565-32767
    feature-gates: IPv6DualStack=true
controllerManager:
  extraArgs:
    feature-gates: IPv6DualStack=true
    cluster-cidr: 10.244.0.0/16,fdb7:8a4e:a021:2608::/104
    service-cluster-ip-range: 10.0.0.0/16,fdea:d838:22d7:721d::/104
    node-cidr-mask-size-ipv4: "24"
    node-cidr-mask-size-ipv6: "120"
networking:
  dnsDomain: cluster.mcserverhosting.red
controlPlaneEndpoint: cluster.mcserverhosting.red:6443
---
apiVersion: kubeproxy.config.k8s.io/v1alpha1
kind: KubeProxyConfiguration
mode: ipvs
clusterCIDR: 10.0.0.0/16,fdb7:8a4e:a021:2608::/104
featureGates: 
 IPv6DualStack: true